{% extends "base.html" %}
{% load bookmarks %}
{% load tags %}
{% load notes %}

{% block title %}Diários da República - Marcadores{% endblock %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tag_style.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/note_style.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.9.2.css" />
  <link rel="stylesheet" href="/static/css/jquery.multiselect.css" />
  <script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery-ui-1.10.2.min.js"></script>
  <script src="/static/js/jquery.multiselect.min.js"></script>
  <script>
    var STATIC_URL="{{ STATIC_URL }}";
    var is_owner = "{{ bookmarks_user.username }}"=="{{ user.username }}";
  </script>
  <script src="{{ STATIC_URL }}js/tags.js"></script>
  <script src="{{ STATIC_URL }}js/notes.js"></script>
  <script src="{{ STATIC_URL }}js/dre.js"></script>
  <meta name="keywords" content="bookmarks, marcadores, preferidos">
  <meta name="description" content="Pagina de marcadores do utilizador.">
  <meta property="og:title" content="Diários da República - Marcadores">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://dre.tretas.org">
  <meta property="og:image" content="http://dre.tretas.org{{ STATIC_URL }}img/esfera_armilar_200.png">
  <meta property="og:site_name" content="Diários da República - Versão do cidadão">
  <meta property="fb:admins" content="webmaster@tretas.org">
  <meta property="og:description" content="Pagina de marcadores do utilizador.">
{% endblock %}

{% block body_content %}
<div class="content-text"><div id="search_results">
  <div id="filter_control">
    <form>
    <table width=100%>
      <tr>
        <td>
          <table>
            <tr>
              <td>Ordenar por:</td>
            </tr>
            <tr>
              <td>{{ filter_form.order }}</td>
            </tr>
            <tr>
              <td>Inverter: {{ filter_form.invert }}</td>
            </tr>
          </table>
        </td>
        <td style="border: solid; border-width: 0 0 0 2px;">
          <table>
            <tr>
              <td>Data inicial:</td>
              <td>{{ filter_form.start_date }}</td>
            </tr>
            <tr>
              <td>Data final:</td>
              <td>{{ filter_form.end_date }}</td>
            </tr>
            <tr>
              <td>Procurar por:</td>
              <td>{{ filter_form.query }}</td>
            </tr>
            <tr>
              <td>Etiquetas:</td>
              <td>{{ filter_form.tags }}</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <p style="text-align:right;"><a href='.'>Limpar busca</a> <button type="submit" name="submit" value="true">Filtrar</button>
    </form>
  </div>

  <h1>Marcadores - {{ bookmarks_user.username }}</h1>

  <ul>
    {% for document in results %}
    <li class="result_item">
    <div class="result_header">
      {% if user.is_authenticated %}
      <a href="{% toggle_bookmark document %}?next={{ request.get_full_path|urlencode }}">{% bookmark_icon document %}</a>
      {% if user == bookmarks_user %}
      <a href="{% url 'toggle_public' document.bm.content_type.id document.bm.object_id %}?next={{ request.get_full_path|urlencode }}">{% if document.bm.public %}<img width=16 height=16 title="Marcador público" src="{{ STATIC_URL }}img/unlocked.png">{% else %}<img width=16 height=16 title="Marcador privado" src="{{ STATIC_URL }}img/locked.png">{% endif %}</a>{% endif %}
      {% endif %}
      {% if document.plain_text or document.dre_pdf %}
      <img src="{{ STATIC_URL }}img/attach.png" title="Tem documento" alt="Tem documento" height=16px width=16px>
      {% else %}
      <img src="{{ STATIC_URL }}img/attach-no.png" title="Não tem documento" alt="Não tem documento" height=16px width=16px>
      {% endif %}
      {% if document.in_force %}
      <img src="{{ STATIC_URL }}img/in_force.png" title="Em vigor" alt="Em vigor" height=16px width=16px>
      {% else %}
      <img src="{{ STATIC_URL }}img/not_in_force.png" title="Diploma não vigente" alt="Diploma não vigente" height=16px width=16px>
      {% endif %}
      <span class="document_date">
        <a href="{% url 'browse_day' year=document.year month=document.month day=document.day %}">{{ document.date|date:"Y-m-d" }}</span></a> -
      <a href="{% url 'document_display' docid=document.id %}">
        <span class="document_tipo">{{ document.doc_type.title }}</span>
        <span class="document_number">{{ document.number }}</span></a> -
      <span class="document_emiting">{{ document.emiting_body.title }}</span>
    </div> <!-- result_header -->

    {% if document.notes %}
    <p class="document_notes">
      {{ document.note_abrv }}
      </p> <!-- document_notes -->{% endif %}

    <div class="decoration">
      <div class="deco_toolbar">
        {% if user == bookmarks_user %}<span class="tag_control"><img src="{{ STATIC_URL }}img/add-tag.png"></span> <span class="note_control"><img src="{{ STATIC_URL }}img/edit-note.png"></span>{% endif %}
        <span class="tags">
          Etiquetas: 
          {% show_tags document bookmarks_user %}
        </span> <!-- tags -->
      </div> <!-- deco_toolbar -->

      {% if user == bookmarks_user %}{% tag_object document bookmarks_user %}{% endif %}
      {% show_note document bookmarks_user %}
      {% if user == bookmarks_user %}{% create_note document bookmarks_user %}{% endif %}
    </div> <!-- decoration -->

    </li>
    {% empty %}
    <li>Não tem bookmarks definidos.
    {% endfor %}
  </ul>
  {% include "pagination.html" %}
</div></div>
{% endblock %}
