{% extends "base.html" %}
{% load bookmarks %}
{% load tags %}

{% block title %}Diários da República - Marcadores{% endblock %}

{% block header %}
{% endblock %}

{% block body_content %}
<div class="content-text"><div id="search_results">
  <h1>Marcadores de {{ bookmarks_user.username }}</h1>

  <ul>
    {% for result in page.object_list %}
    {% with result.content_object as document %}
      {% if user.is_authenticated %}
      <a href="{% toggle_bookmark document %}?next={{ request.get_full_path|urlencode }}">{% bookmark_icon document %}</a>
      <a href="{% url 'toggle_public' result.content_type.id result.object_id %}?next={{ request.get_full_path|urlencode }}">{% if result.public %}<img width=16 height=16 title="Marcador público" src="{{ STATIC_URL }}img/unlocked.png">{% else %}<img width=16 height=16 title="Marcador privado" src="{{ STATIC_URL }}img/locked.png">{% endif %}</a>
      {% endif %}
      {% if document.plain_text or document.dre_pdf %}
      <img src="{{ STATIC_URL }}dre_django/img/attach.png" title="Tem documento" alt="Tem documento" height=16px width=16px>
      {% else %}
      <img src="{{ STATIC_URL }}dre_django/img/attach-no.png" title="Não tem documento" alt="Não tem documento" height=16px width=16px>
      {% endif %}
      {% if document.in_force %}
      <img src="{{ STATIC_URL }}dre_django/img/in_force.png" title="Em vigor" alt="Em vigor" height=16px width=16px>
      {% else %}
      <img src="{{ STATIC_URL }}dre_django/img/not_in_force.png" title="Diploma não vigente" alt="Diploma não vigente" height=16px width=16px>
      {% endif %}
      <span class="document_date">
        <a href="{% url 'browse_day' year=document.year month=document.month day=document.day %}">
      {{ document.date|date:"Y-m-d" }}</span></a> -
      <a href="{% url 'document_display' docid=document.id %}">
      <span class="document_tipo">{{ document.doc_type.title }}</span>
      <span class="document_number">{{ document.number }}</span></a> -
      <span class="document_emiting">{{ document.emiting_body.title }}</span>
      <p class="document_notes">{{ document.note_abrv }}</p>
      <p class="tags">Etiquetas: {% show_tags result %}</p>
      {% tag_object result %}

    {% endwith %}
    {% empty %}
    <li>Não tem bookmarks definidos.
    {% endfor %}
  </ul>
  {% include "pagination.html" %}
</div></div>
{% endblock %}
