{% extends "base.html" %}

{% block title %}Diários da República - Navegar por dia{% endblock %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/start/jquery-ui.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
  
  <script type="text/javascript">
    var default_date = new Date( {{ query_date }} );
  </script>
  <script type="text/javascript" src="{{ STATIC_URL }}dre_django/js/browse_day.js"></script>
{% endblock %}

{% block body_content %}
  <div style="
    width: 45em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    padding: 0.4em 0 0.1em 0.4em;">
  <div id="calendar"></div>
  </div>
  <div class="results">
  <ul>
    {% if not docs %}
    <p>No documents for this day.</p>
    {% endif %}
    {% for doc in docs %}
    <li><a href="{% url 'document_display' doc.claint %}">{{ doc.number }} - {{ doc.doc_type }}</a>
    <p class="resultnote">{{ doc.notes }}</p> </li>
    {% endfor %}
  </ul>
  </div>
{% endblock %}
