{% extends "base.html" %}

{% block title %}Diários da República - Navegar por dia{% endblock %}

{% block header %}
  <meta name="keywords" content="documento, navegar por data">
  <meta name="description" content="Consultar os diplomas publicados numa dada data.">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.9.2.css" />
  <link rel="stylesheet" href="/static/css/jquery.multiselect.css" />
  <script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery-ui-1.10.2.min.js"></script>
  <script src="/static/js/jquery.multiselect.min.js"></script>
  <script>
    var date="{{ date|date:"Y-m-d" }}";
  </script>
  <script src="{{ STATIC_URL }}js/browse_filter.js"></script>
  <meta property="og:title" content="Diários da República - Procura de Documentos">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://dre.tretas.org">
  <meta property="og:image" content="http://dre.tretas.org{{ STATIC_URL }}img/esfera_armilar_200.png">
  <meta property="og:site_name" content="Diários da República - Versão do cidadão">
  <meta property="fb:admins" content="webmaster@tretas.org">
  <meta property="og:description" content="Procura de diplomas no Diário da República - navegue para uma determinada data e consulte os documentos publicados nesse dia">
{% endblock %}

{% block body_content %}
<div class="content-text">
  <h1>Resultados para o dia {{ date|date:"Y-m-d" }}</h1>

  <div id="filter_control" class="noprint">
    <form action="" method="GET" id="form_filter" name="FilterForm">
      <table width=100%>
        <tr>
          <td>
            <table>
              <tr>
                <td>Escolha a&nbsp;série:</td>
                <td>{{ filter_form.series }}</td>
              </tr>
              <tr>
                <td>Tipo documento:</td>
                <td>{{ filter_form.doc_type }}</td>
              </tr>
              <tr>
                <td>Procurar por:</td>
                <td>{{ filter_form.query }}</td>
              </tr>
            </table>
          </td>
          <td style="border: solid; border-width: 0 0 0 2px;">
            <table>
              <tr>
                <td>Outra data:</td>
              </tr>
              <tr>
                <td>{{ filter_form.date }}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <p style="text-align:right;"><a href='.'>Limpar filtro</a> <button type="submit">Filtrar</button>
    </form>
  </div>

  <div class="result_bar noprint">
    <div style="width:33%;float:left;text-align:left;">
      {% if prev_date %}
      <a href="{% url 'browse_day' year=prev_date.year month=prev_date.month day=prev_date.day %}{{ query_date }}">Data anterior {{ prev_date|date:'Y-m-d' }}</a>
      {% endif %}
    </div>
    <div style="width:33%;float:left;text-align:center;">
      <a href="{% url 'browse' %}">Outras datas</a>
    </div>
    <div style="width:33%;float:left;text-align:right;">
      {% if next_date %}
      <a href="{% url 'browse_day' year=next_date.year month=next_date.month day=next_date.day %}{{ query_date }}">Data seguinte {{ next_date|date:'Y-m-d' }}</a>
      {% endif %}
    </div>
    <div style="clear:both;"></div>
  </div>

  <div class="results">
    {% if page.object_list %}
      {% include "results.html" %}
    {% else %}
      <p>Não temos documentos na nossa base de dados para este dia ou para o filtro escolhido.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
