{% extends "base.html" %}
{% load bookmarks %}
{% load notes %}

{% block title %}Diários da República{% endblock %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tag_style.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/note_style.css">
{% endblock %}

{% block body_content %}
<div class="content-text">

<h1>{{ document.doc_type.title }} {{ document.number }} de {{ document.date|date:"Y-m-d" }}</h1>

{% if user.is_authenticated %}
<p style="text-align:right;"><a href="{% toggle_bookmark document %}?next={{ request.get_full_path|urlencode }}">{% bookmark_icon document %}</a>
{% endif %}

<ul>
  <li><strong>Corpo emitente</strong>: {{ document.emiting_body }}
  <li><strong>Fonte</strong>: {{ document.source }}
  {% if document.dre_key %}<li><strong>Chave DRE</strong>: {{ document.dre_key }}{% endif %}
  {% if not document.in_force %}<li><strong style="color:red;">Diploma não vigente</strong>{% endif %} 
  {% if document.conditional %}<li><strong style="color:red;">Vigência condicional</strong>{% endif %}
  {% if document.processing %}<li><strong style="color:red;">Em tratamento</strong>{% endif %}
</ul>

<h2>Notas</h2>
<div class="result_notes">
{{ document.notes }}
</div>

{% if document.plain_text %}
<h2>Texto do documento</h2>
<div class="result_notes">
  {% autoescape off %}
  {{ document.plain_html }}
  {% endautoescape %}
  <div class="noprint">
    <hr>
    <p><a href="{{ document.plain_text }}"><img src="{{ STATIC_URL }}/img/pdf.png"> Versão em PDF deste documento</a>
  </div>
</div>
<p><strong>NOTA IMPORTANTE</strong> - a consulta deste documento não substitui a
leitura do Diário da República correspondente. Não nos responsabilizamos por
quaisquer incorrecções produzidas na transcrição do original para este formato.
{% endif %}
{% if document.dre_pdf %}
<div class="noprint">
<p>Pode consultar o DR original <a href="{{ document.dre_pdf }}">aqui</a>.
</div>
<div class="only_print">
<p>Pode consultar o DR original em:
<p>{{ document.dre_pdf }}
</div>
{% endif %}

{% if user.is_authenticated %}
<h2>Notas do utilizador</h2>
{% show_note document user %}
{% endif %}

</div>
{% endblock %}


