{% extends "base.html" %}
{% load bookmarks %}
{% load notes %}
{% load auth %}

{% block title %}Diários da República - {{ document.title }}{% endblock %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/note_style.css">
  {% if user.is_authenticated %}
  <script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
  <script>
    var STATIC_URL="{{ STATIC_URL }}";
    var is_owner = true;
  </script>
  <script src="{{ STATIC_URL }}js/notes.js"></script>
  {% endif %}
  <meta name="keywords" content="{{ document.title }}, diário da república, documento, diploma, {{ document.doc_type.title }}, {{ document.date|date:"Y-m-d" }}, {{ document.date|date:"Y" }}, {{ document.c_emitting }}">
  <meta name="description" content="{{ document.note_escaped }}">
  <meta name="author" content="{{ document.c_emitting }}">
{% endblock %}

{% block body_content %}
{% show_public_notes document %}
<div class="content-text">

{% if user.is_authenticated %}
<p style="text-align:right;"><a href="{% toggle_bookmark document %}?next={{ request.get_full_path|urlencode }}">{% bookmark_icon document %}</a>
{% endif %}

<h1>{{ document.title }}</h1>

<ul>
  <li><strong>Corpo emitente</strong>: {{ document.emiting_body }}
  <li><strong>Fonte</strong>: {{ document.source }}
  <li><strong>Data</strong>: {{ document.date|date:"Y-m-d" }}
  <li><strong><a href="{% url 'related_document' document.id %}">Documentos relacionados</a></strong>
  {% if not document.in_force %}<li><strong style="color:red;">Diploma não vigente</strong>{% endif %} 
  {% if document.conditional %}<li><strong style="color:red;">Vigência condicional</strong>{% endif %}
  {% if document.processing %}<li><strong style="color:red;">Em tratamento</strong>{% endif %}
  <li><strong>Secções desta página:</strong>:
    <ul>
      <li><a href="#summary">Sumário</a>
      {% if user.is_authenticated and show_user_notes %}<li><a href="#user_notes">As suas notas associadas a este documento</a>{% endif %}
      {% if document.has_text %}<li><a href="#text">Texto do documento</a>{% endif %}
      {% if document.plain_text or document.dre_pdf %}<li><a href="#anexos">Anexos (pdf)</a>{% endif %}
      {% if note_list %}<li><a href="#notes">Notas dos utilizadores</a>{% endif %}
      {% if document.connects_to.all %}<li><a href="#out_links">Ligações deste documento</a>{% endif %}
      {% if document.document_set.all %}<li><a href="#in_links">Ligações para este documento</a>{% endif %}
      <li><a href="#warning">Aviso</a>
    </ul>
  </li>
</ul>

<h2><a name="summary">Sumário</a></h2>
<div class="result_notes">
{{ document.notes }}
</div>

{% if user.is_authenticated and show_user_notes %}
<h2><a name="user_notes">Notas do utilizador</a></h2>
  <div class="result_notes">
    <div class="decoration">
      <div class="deco_toolbar result_notes deco_tb_inlaid noprint">
        <span class="note_control"><img src="{{ STATIC_URL }}img/edit-note.png" title="Editar nota" alt="Editar nota" style="margin:-1em 0 -0.3em 0;"></span> &nbsp;{% if user.first_name %}{{ user.first_name }} {{ user.last_name }} ({{ user.username }}){% else %}{{ user.username }}{% endif %}
      </div> <!-- deco_toolbar -->
      {% show_note document user %}
      {% create_note document user %}
    </div> <!-- decoration -->
  </div>
{% endif %}

{% if document.has_text %}
<h2><a name="text">Texto do documento</a></h2>
<div class="result_notes">
  {% autoescape off %}
  {{ document.plain_html }}
  {% endautoescape %}
</div>
{% endif %}

{% if document.plain_text or document.dre_pdf %}
<h2><a name="anexos">Anexos</a></h2>

<div class="noprint">
  <ul>
    {% if document.plain_text %}
    <li><a href="{{ document.plain_text }}">Texto integral do documento</a> (PDF);
    {% endif %}
    {% if document.dre_pdf %}
    <li><a rel="nofollow" href="{% url 'document_org_pdf' document.id %}">
      Extracto do Diário da República original</a> (PDF).
    {% endif %}
  </ul>
</div>

<div class="only_print">
  <ul>
    {% if document.plain_text %}
    <li>Texto integral do documento: {{ document.plain_text }} ;
    {% endif %}
    {% if document.dre_pdf %}
    <li>Extracto do Diário da República original: 
    http://dre.tretas.org{% url 'document_org_pdf' document.id %} .
    {% endif %}
  </ul>
</div>

{% endif %}


{% if note_list %}
<h2><a name="notes">Notas dos utilizadores</a></h2>
  {% for note in note_list %}
    <div class="result_notes" style="margin-top:2em;">
      <div class="decoration">
        <div class="deco_toolbar result_notes deco_tb_inlaid noprint">
          <a href="http://gravatar.com/{% gravatar note.user.email %}/">
            <img src='{% avatar note.user.email '48' %}' height="48" width="48"></a>
          &nbsp;{% if note.user.first_name %}{{ note.user.first_name }} {{ note.user.last_name }} ({{ note.user.username }}){% else %}{{ note.user.username }}{% endif %}
          - {{ note.timestamp|date:"Y-m-d H:i" }}
        </div> <!-- deco_toolbar -->
        <div class="user_notes">
        {{ note.html|safe }}
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}

{% if document.connects_to.all %}
<h2><a name="out_links">Ligações deste documento</a></h2>

<div class="result_notes">
  <p>Este documento liga ao{{ document.connects_to.all.count|pluralize }} seguinte{{ document.connects_to.all.count|pluralize }} documento{{ document.connects_to.all.count|pluralize }}:
  <ul style="list-style-type:none;padding:0.5em;">
  {% for result in document.out_links %}
    <li>
      {% if user.is_authenticated %}
      <a href="{% toggle_bookmark result %}?next={{ request.get_full_path|urlencode }}">{% bookmark_icon result %}</a>
      {% endif %}
      {% if result.plain_text or result.dre_pdf %}
      <img src="{{ STATIC_URL }}img/attach.png" title="Tem documento" alt="Tem documento" height=16px width=16px>
      {% else %}
      <img src="{{ STATIC_URL }}img/attach-no.png" title="Não tem documento" alt="Não tem documento" height=16px width=16px>
      {% endif %} 
      {% if result.in_force %}
      <img src="{{ STATIC_URL }}img/in_force.png" title="Em vigor" alt="Em vigor" height=16px width=16px>
      {% else %}
      <img src="{{ STATIC_URL }}img/not_in_force.png" title="Diploma não vigente" alt="Diploma não vigente" height=16px width=16px>
      {% endif %} 
      <span class="result_date">
        <a href="{% url 'browse_day' year=result.year month=result.month day=result.day %}">
      {{ result.date|date:"Y-m-d" }}</span></a> - 
      <a href="{% url 'document_display' docid=result.id %}">
      <span class="result_tipo">{{ result.doc_type.title }}</span>
      <span class="result_number">{{ result.number }}</span></a> -
      <span class="result_emiting">{{ result.emiting_body.title }}</span>
      <p class="result_notes">{{ result.note_abrv }}</p>
    </li>
  {% endfor %}
  </ul>
</div>
{% endif %}

{% if document.document_set.all %}
<h2><a name="in_links">Ligações para este documento</a></h2>

<div class="result_notes">
  <p>Este documento é referido no{{ document.document_set.all.count|pluralize }} seguinte{{ document.document_set.all.count|pluralize }} documento{{ document.document_set.all.count|pluralize }}:
  <ul style="list-style-type:none;padding:0.5em;">
  {% for result in document.in_links %}
    <li>
      {% if user.is_authenticated %}
      <a href="{% toggle_bookmark result %}?next={{ request.get_full_path|urlencode }}">{% bookmark_icon result %}</a>
      {% endif %}
      {% if result.plain_text or result.dre_pdf %}
      <img src="{{ STATIC_URL }}img/attach.png" title="Tem documento" alt="Tem documento" height=16px width=16px>
      {% else %}
      <img src="{{ STATIC_URL }}img/attach-no.png" title="Não tem documento" alt="Não tem documento" height=16px width=16px>
      {% endif %} 
      {% if result.in_force %}
      <img src="{{ STATIC_URL }}img/in_force.png" title="Em vigor" alt="Em vigor" height=16px width=16px>
      {% else %}
      <img src="{{ STATIC_URL }}img/not_in_force.png" title="Diploma não vigente" alt="Diploma não vigente" height=16px width=16px>
      {% endif %} 
      <span class="result_date">
        <a href="{% url 'browse_day' year=result.year month=result.month day=result.day %}">
      {{ result.date|date:"Y-m-d" }}</span></a> - 
      <a href="{% url 'document_display' docid=result.id %}">
      <span class="result_tipo">{{ result.doc_type.title }}</span>
      <span class="result_number">{{ result.number }}</span></a> -
      <span class="result_emiting">{{ result.emiting_body.title }}</span>
      <p class="result_notes">{{ result.note_abrv }}</p>
    </li>
  {% endfor %}
  </ul>
</div>
{% endif %}

<h2><a name="warning">Aviso</a></h2>

<p><strong>NOTA IMPORTANTE</strong> - a consulta deste documento não substitui a
leitura do Diário da República correspondente. Não nos responsabilizamos por
quaisquer incorrecções produzidas na transcrição do original para este formato.

</div>
{% endblock %}


