{% extends "base.html" %}
{% load tips %}

{% block title %}Diários da República - Documentos relacionados{% endblock %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tips.css">
  <meta name="keywords" content="procura,diplomas,documentos,diário da república,relacionados">
  <meta name="description" content="Procura de diplomas no Diário da República - documentos relacionados">
  <meta property="og:title" content="Diários da República - Procura de Documentos">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://dre.tretas.org">
  <meta property="og:image" content="http://dre.tretas.org{{ STATIC_URL }}img/esfera_armilar.png">
  <meta property="og:site_name" content="Diários da República - Versão do cidadão">
  <meta property="fb:admins" content="webmaster@tretas.org">
  <meta property="og:description" content="Procura de diplomas no Diário da República - documentos relacionados">
{% endblock %}

{% block body_content %}
<div class="center_text">

</div>

<h1>Documentos relacionados com:<br> {{ document.title }}</h1>


{% if page.object_list %}
<div class="content-text">
  {% include "results.html" %}
</div>
{% else %}
<div class="center_text error">
  <p>Não encontrei documentos relacionados.</p>
</div> 
{% endif %}

{% endblock %}

