{% extends "base.html" %}
{% load tips %}

{% block title %}Diários da República - Procura de Documentos{% endblock %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tips.css">
  <meta name="keywords" content="procura,diplomas,documentos,diário da república">
  <meta name="description" content="Procura de diplomas no Diário da República Electrónico">
  <meta property="og:title" content="Diários da República - Procura de Documentos">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://dre.tretas.org">
  <meta property="og:image" content="http://dre.tretas.org{{ STATIC_URL }}img/esfera_armilar_200.png">
  <meta property="og:site_name" content="Diários da República - Versão do cidadão">
  <meta property="fb:admins" content="webmaster@tretas.org">
  <meta property="og:description" content="Procura de diplomas no Diário da República">
{% endblock %}

{% block body_content %}
<div class="center_text">
  <a href="/">
    <img class="dre_logo" src="{{ STATIC_URL }}img/tretas_logo.png" 
    width="305" height="135" alt="Tretas logotipo">
  </a>
  <div class="intro">Indexador do Diário da República</div>
  <form method="GET" action="">
      <p>
        <input id="id_query_string" type="search" name="q" value="{{ form.cleaned_data.q }}" maxlength="1000" placeholder="Escreva aqui a sua busca" />
      </p>
      <p><button class="big_center"  style="width:8em" type="submit" value="Submit">Busca</button></p>
  </form>
</div>

{% if spell_correction %}
<div class="center_text">
  <p>Será que queria dizer: <a href="/?q={{ spell_correction }}">{{ spell_correction }}</a>?</p>
</div> 
{% endif %}

{% if page.object_list %}
<div class="content-text">
  {% if query_modified %}
  <p style="color:blue">Os resultados seguintes são produto de uma busca optimizada. Para ver os resultados de busca não optimizados, clique <a href="/?q={{ query_modified }}&m=F">aqui</a>.
  {% endif %}

  {% include "results.html" %}
</div>
{% else %}
{% if not success %}
<div class="center_text error">
  <p>Não consegui encontrar resultados com: "{{ form.cleaned_data.q }}"</p>
</div> 
{% endif %}
{% show_tips %}
{% endif %}

{% endblock %}

