{% extends "base.html" %}

{% block title %}Diários da República{% endblock %}

{% block header %}
{% endblock %}

{% block body_content %}
<div class="center_text">
  <a href="/">
    <img class="dre_logo" src="{{ STATIC_URL }}/img/tretas_logo.png" 
    width="305" height="135" alt="Tretas logotipo">
  </a>
  <div class="intro">Indexador do Diário da República</div>
  <form method="GET" action="">
      <p>
        <input id="id_query_string" type="search" name="q" value="{{ form.cleaned_data.q }}" maxlength="1000" placeholder="Escreva aqui a sua busca" />
        
      </p>
      <p><button class="big_center"  style="width:8em" type="submit" value="Submit">Busca</button></p>
  </form>
</div>

{% if page.object_list %}
<div class="content-text">
  {% include "results.html" %}
</div>
{% endif %}

{% endblock %}

