{% extends "base.html" %}

{% block title %}Diários da República - Procura de Documentos{% endblock %}

{% block header %}
  <meta name="keywords" content="procura,diplomas,documentos,diário da república">
  <meta name="description" content="Procura de diplomas no Diário da República Electrónico">
{% endblock %}

{% block body_content %}
<div class="center_text">
  <a href="/">
    <img class="dre_logo" src="{{ STATIC_URL }}/img/tretas_logo.png" 
    width="305" height="135" alt="Tretas logotipo">
  </a>
  <div class="intro">Indexador do Diário da República</div>
  <form method="GET" action="">
      <p>
        <input id="id_query_string" type="search" name="q" value="{{ form.cleaned_data.q }}" maxlength="1000" placeholder="Escreva aqui a sua busca" />
      </p>
      <p><button class="big_center"  style="width:8em" type="submit" value="Submit">Busca</button></p>
  </form>
</div>

{% if page.object_list %}
<div class="content-text">
  {% if query_modified %}
  <p style="color:blue">Os resultados seguintes são produto de uma busca optimizada. Para ver os resultados de busca não optimizados, clique <a href="/?q={{ query_modified }}&m=F">aqui</a>.
  {% endif %}

  {% include "results.html" %}
</div>
{% else %}
{% if not success %}
<div class="center_text error">
  <p>Não consegui encontrar resultados com: "{{ form.cleaned_data.q }}"</p>
</div> 
{% endif %}
<div class="information">
  <p>Para procurar diplomas com um determinado número e tipo (por exemplo "Lei 66-B/2012"), 
  é mais eficaz filtrar usando:
  <div class="code">
    <p><a href="/?q=tipo%3Alei+número%3A66-B%2F2012"><strong>tipo:</strong>lei <strong>número</strong>:66-B/2012</a></p>
  </div>
  <p>Para saber acerca de mais opções de procura, não deixe de ler a nossa
  <a href="{% url 'help' %}">ajuda</a>.
</div>
{% endif %}

{% endblock %}

