/***********/
/* General */
/***********/

body {
  background: #fdfeff;
  padding: 0;
  margin: 0;
  font-family: verdana, arial, sans-serif;
  font-size: 13px;
  color: #022263;
  }

h1 {
  text-align:center;
  }

/* Hide, just visible on print media */
.only_print {
  display: none;
  }

.clear_both {
  clear:both;
  height:1px;
  width:1px;
  overflow:hidden;
  }

/************/
/* Top Menu */
/************/

.header {
  background: #4060a2;
  margin: 0;
  position: relative;
  color: white;
  font-size: 1em;
  height: 100%;
  padding: 0.8em 0.5em 0.8em 0.5em;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #6f94de;
  }
.header a {
  color: white;
  text-decoration: none;
  }
.header a:hover {
  color: yellow;
  text-decoration: underline;
  }

a.user {
  color: #ffc021;
  text-decoration: none;
  }

#header_right {
  float: right;
  margin-right: 3px;
  }

#header_left {
  float: left;
  margin-right: 3px;
  }

/***********/
/* Content */
/***********/

#content {
  background-image: url('/static/dre_django/img/alfa.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 1em;
  }

.resultnote {
  padding: 0px;
  margin: 0.5em 0px;
  max-width: 1000px;
  }

/* To center the content */
/* to use insted of the deprecated align and center */

.center_text {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  }
.center_text table {
  margin-left:auto;
  margin-right:auto;
  }

/***********/
/* Results */
/***********/

.result_notes {
    position: relative;
    width: 50em;
    padding: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.result_bar {
    padding: 1em 0 1em 0;
}

.pagination {
    text-align: center;
}
