{% extends "base.html" %}

{% block title %}Diários da República - Acerca{% endblock %}

{% block header %}
  <meta name="keywords" content="ajuda,dre,diário da república">
  <meta name="description" content="Acerca do sistema de procura e armazenamento de Diários da República.">
{% endblock %}

{% block body_content %}
<div class="content-text">
  <h1>Acerca do DRE Tretas</h1>
    <p>Este site disponibiliza uma cópia tão fiel quanto possível do <a href="http://dre.pt/">Diário da República Electrónico</a>, em caso de dúvida deverá sempre recorrer à fonte oficial.

    <p>O motivo que nos levou a fazer este trabalho foi a extremamente baixa qualidade do site oficial. A qualidade é tão baixa que chega ao extremo de não nos permitir partilhar ligações para os documentos nele contidos. Notar que não estou a falar em ligações automáticas para redes sociais ou coisa do género. Estou a falar das próprias ligações para a legislação. Por exemplo, a <a href="http://digestoconvidados.dre.pt/Digesto/(S(1bpz5ljwwqq15s450ea0s145))/Paginas/DiplomaDetalhado.aspx?claint=305745">seguinte ligação</a>:

    <pre>http://digestoconvidados.dre.pt/Digesto/(S(1bpz5ljwwqq15s450ea0s145))
/Paginas/DiplomaDetalhado.aspx?claint=305745</pre> 

    <p>Não vai, pura e simplesmente, funcionar. Não há motivo técnico válido para que assim seja. Desta forma quebra-se uma das características principais da web, disponível desde o início: a possibilidade de se utilizarem hiperligações em hipertexto (o 'H' de <a href="http://pt.wikipedia.org/wiki/HTML">HTML</a>...). 

    <p>O site oficial é mau de outras formas:

    <ul>
      <li>O sistema de busca, para além de lento, é muito sensível às perguntas que lhe pomos. Muitas vezes simplesmente cracha sem nos devolver qualquer resultado;
      <li>Não conseguimos fazer buscas em texto livre, ficamos limitados a procurar nos metadados disponibilizados;
      <li>Não existem feeds que nos permitam acompanhar a nova legislação que vai saindo, da mesma forma não é possível criar avisos por mail;
    </ul>

    <p>Por todos estes motivos, decidimos criar este site onde tentaremos remediar as questões acima citadas bem como desenvolver soluções que permitam aos cidadãos explorar a legislação de formas inovadoras e práticas.. 

    <p>Todos os cidadãos são convidados a utilizar este site. Qualquer 
       comentário, crítica ou sugestão pode ser enviado para: 
       <a href="mailto:webmaster@tretas.org">webmaster@tretas.org</a>.</p>

    <p>Helder Guerreiro</p> 
    <p>José Lopes</p>

  <h2>Nota técnica</h2>

  <p>Este sistema corre sobre Linux, utilizam-se os seguintes sistemas principais:

  <ul>
    <li>Base de dados <a href="http://www.postgresql.org/">PostgreSQL</a>;
    <li>Índice feito utilizando a biblioteca <a href="http://xapian.org/">Xapian</a>;
    <li>Interface web feita com <a href="https://www.djangoproject.com/">Django</a>;
    <li>O brasão de armas (esfera armilar e o escudo português) foi retirado <a href="http://pt.wikipedia.org/wiki/Bandeira_de_Portugal">desta</a> página. É uma obra de Vítor Luís Rodrigues e António Martins-Tuválkin contratada pela Presidência da República em Junho de 2004 com o fim expresso de ser posta no domínio público;
    <li>Os icons utilizados no site foram retirados da colecção de icons do <a href="http://www.kde.org/">Projecto KDE</a>, estão sob licença GPL v2. 
  </ul>

  <p>Corre num servidor HP ML310 G8.

  <h2>Desenvolvimento deste sistema</h2>

  <p>Todo o site foi feito usando software livre. 

  <p> A escolha óbvia para a licença do próprio sistema foi a GPL v3. Pode
  obter o código fonte do site, colaborar no desenvolvimento, abrir <em>bug
  reports</em>, etc, na <a href="https://github.com/heldergg/dre">página
  do projecto</a> no github.

  <a name="base_de_dados"></a><h2>Base de dados</h2>

  <p>Pode fazer o download de toda a legislação que recolhemos do 'dre.pt' nas
  ligações seguintes:

  <ul>
    <li><a href="{% include "json.url" %}">Base de dados em formato JSON</a> (cerca de 20MB)</li>
    <li><a href="{% include "sql.url" %}">Dump da base de dados com a ferramenta 'pg_dump'</a> (cerca de 220MB)</li>
  </ul>

  <p>Note, por favor, o seguinte:

  <ol>
    <li>Os ficheiros com os dados recolhidos estão alojados no site 
    <a href="https://mega.co.nz">MEGA</a>;
    <li>Os ficheiros foram comprimidos usando a ferramenta 
    <a href="http://www.bzip.org/">bzip2</a>. Depois de descomprimidos expandem
    para ficheiros relativamente pesados, com cerca de 250MB no caso da versão 
    <a href="http://pt.wikipedia.org/wiki/JSON">JSON</a> e cerca de <strong>1.3GB</strong> na versão SQL;
    <li>Temos uma explicação sobre o formato destes ficheiros <a href="http://blog.tretas.org/2014/02/23/obter-a-legislacao-do-dre-tretas-org/">neste post</a>;
    <li>Por vezes o upload para o mega.co.nz falha, especialmente no caso do ficheiro maior. Se detectar um ficheiro estragado, contacte <a href="mailto:webmaster@tretas.org">webmaster@tretas.org</a>;
    <li>Estes ficheiros são gerados todos os Domingos às 10:00.
  </ol>
  <div style="display:none;">
    <p><a href="{% url 'browse_day' year=1974 month=4 day=25 %}">Este link</a> 
    serve apenas para proporcionar aos motores de busca um caminho
    para todo o conteúdo do site.</p>
  </div>
</div>
{% endblock %}
