{% load url from future %} <!doctype html>

<html lang="pt">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dre_django/css/style.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dre_django/css/print.css" media="print">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
  <link rel="shortcut icon" href="{{ STATIC_URL }}dre_django/img/favicon.ico">

  {% block header %}{% endblock %}
</head>
<body>
<!--[if lte IE 8]>
  <div style="background:yellow;color:red;margin:0;padding:0.5em;">
     <p>Está a utilizar uma versão antiga do Internet Explorer. Não vai
        conseguir usufruir da totalidade deste site (para além do facto de
        estar vulnerável a uma grande quantidade de vírus e afins). Faça
        a actualização do Internet Explorer ou
        <a href="http://www.firefox.com/">mude</a> para um
        <a href="http://www.opera.com/">browser</a> de
        <a href="http://www.google.com/chrome">qualidade</a>.</p>
  </div>
<![endif]--> <!--
  <div style="background:yellow;color:red;margin:0;padding:0.5em;">
  <p><strong>ATENÇÃO!!!</strong> - Este site está em desenvolvimento intenso. 
  Por vezes poderá estar instável e até é normal que não funcione de quando em 
  vez. Neste momento já temos o código necessário para fazer o registo de novos
  utilizadores e para fazer o respectivo login. Infelizmente ainda não há
  nenhuma funcionalidade que aproveite os logins de utilizadores...
  </div> -->
  <div class="header">
    <div id="header_left">
      <a href="/">Procurar</a> 
      {% if user.is_authenticated %}
      | <a href="{% url 'bookmark_display' user.id %}">Marcadores</a>
      {% endif %}
    </div>
    <div id="header_right">
      <a href="{% url 'about' %}">Acerca</a><!-- | 
      <a class="rss_link" href="{% url 'not_implemented' %}">RSS</a> --> |
      <a href="{% url 'help' %}">Ajuda</a> |
      {% if user.is_authenticated %}
      <a href="{% url 'logout' %}?next=/">Sair</a>
      {% else %}
      <a href="{% url 'registration' %}?next={{ request.get_full_path|urlencode }}">Registar</a> |
      <a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">Entrar</a>
      {% endif %}
    </div>
    <div class="clear_both"></div>
  </div>

  <!-- Start Header for Printing -->
  <div class="only_print">
    <div id="print_header">
      <p>{% block print_header %}dre.tretas.org{% endblock %}</p>
      <hr>
    </div>
  </div> <!-- End Header for Printing -->

  <!-- Body Content -->
  <div id="content":>
  {% block body_content %}{% endblock %}
  </div>

  <!-- Start Footer for Printing -->
  <div class="only_print">
    <div id="print_footer">
      <hr>
      <p>★ {% now "Y.m.d H:i" %} ★</p>
    </div>
  </div> <!-- End Footer for Printing -->
</body>
</html>
