{% extends "base.html" %}

{% block title %}Diários da República - Ajuda{% endblock %}

{% block header %}
  <meta name="keywords" content="ajuda,dre,diário da república">
  <meta name="description" content="Ajuda do sistema de procura e armazenamento de Diários da República.">
  <meta property="og:title" content="Diários da República - Ajuda">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ SITE_URL }}">
  <meta property="og:image" content="{{ SITE_URL }}{{ STATIC_URL }}img/esfera_armilar_200.png">
  <meta property="og:site_name" content="Diários da República - Versão do cidadão">
  <meta property="fb:admins" content="webmaster@tretas.org">
  <meta property="og:description" content="Ajuda do sistema de procura e armazenamento de Diários da República.">
{% endblock %}

{% block body_content %}
<div class="content-text">
  <h1>Ajuda</h1>

  <h2>Procurar</h2>

  <p>Os documentos, extraídos do Diário da República Electrónico são indexados neste site. Para realizar uma busca basta usar termos que sejam adequados. Realizaremos então uma busca sobre todo o texto disponível da legislação assim como sobre os metadados disponibilizados no site oficial do DR Electrónico (<a href="http://dre.pt/">dre.pt</a>).

  <p>Para além disto, o nosso motor de busca suporta a utilização de modificadores que tornam as buscas mais eficientes. Por exemplo para se procurar apenas por leis, pode-se acrescentar: <tt>tipo:lei</tt>. Da mesma forma, se um determinado documento que procuramos é de um ano conhecido, podemos modificar a busca utilizando: <tt>ano:1989</tt>.

  <p>Os modificadores suportados, neste momento, são:

  <ul>
    <li><strong>data</strong> - aceita uma data no formato <tt>AAAAMMDD</tt>;
    <li><strong>ano</strong> - ano do documento, no formato <tt>AAAA</tt>;
    <li><strong>mês</strong> - mês do documento, no formato <tt>MM</tt> ou <tt>M</tt>, sem zeros à esquerda;
    <li><strong>dia</strong> - dia do documento, no formato <tt>DD</tt> ou <tt>D</tt>, sem zeros à esquerda;
    <li><strong>tipo</strong> - tipo de documento, a seguir listamos os tipos de documentos suportados;
    <li><strong>número</strong> - número do documento, convém ser o número exacto. Notar que os documentos antes do ano dois mil identificam o ano com dois caracteres, a partir do ano dois mil, utilizam quatro dígitos. Isto é apenas uma regra que muitas vezes não é seguida. O número de documento utilizado com este modificador deve ser exacto;
    <li><strong>quem</strong> - entidade emitente;
    <li><strong>série</strong> - série do Diário da República (1,2 ou 3);
    <li><strong>dr</strong> - número do Diário da República;
  </ul>

  <h3>Tipos de documentos</h3>

    <ul>
      <li>ACÓRDÃO
      <li>ACORDO
      <li>ACTA
      <li>ALVARÁ
      <li>ALVARÁ-EXTRACTO
      <li>ANÚNCIO
      <li>ASSENTO
      <li>AUTORIZAÇÃO
      <li>AVISO
      <li>AVISO-EXTRACTO
      <li>CARTA DE CONFIRMAÇÃO E RATIFICAÇÃO DE CONVENÇÃO INTERNACIONAL
      <li>CARTA DE LEI
      <li>COMUNICAÇÃO DE RENÚNCIA
      <li>CONTA
      <li>CONTRATO
      <li>CONTRATO-EXTRACTO
      <li>CONVÉNIO
      <li>DECLARAÇÃO
      <li>DECLARAÇÃO DE DÍVIDA
      <li>DECLARAÇÃO DE RECTIFICAÇÃO
      <li>DECRETO
      <li>DECRETO LEGISLATIVO REGIONAL
      <li>DECRETO LEI
      <li>DECRETO REGIONAL
      <li>DECRETO REGULAMENTAR
      <li>DECRETO REGULAMENTAR REGIONAL
      <li>DELIBERAÇÃO
      <li>DELIBERAÇÃO-EXTRACTO
      <li>DESPACHO
      <li>DESPACHO CONJUNTO
      <li>DESPACHO-EXTRACTO
      <li>DESPACHO MINISTERIAL
      <li>DESPACHO NORMATIVO
      <li>DESPACHO ORIENTADOR
      <li>DESPACHO RECTIFICATIVO
      <li>DESPACHO REGULADOR
      <li>DIRECTIVA CONTABILÍSTICA
      <li>EDITAL
      <li>EXTRACTO
      <li>INSTRUÇÃO
      <li>INSTRUÇÕES
      <li>JURISPRUDÊNCIA
      <li>LEI
      <li>LEI CONSTITUCIONAL
      <li>LEI ORGÂNICA
      <li>LISTAGEM
      <li>LISTA RECTIFICATIVA
      <li>LOUVOR
      <li>MAPA
      <li>MAPA OFICIAL
      <li>MOÇÃO
      <li>MOÇÃO DE CONFIANÇA
      <li>NÃO ESPECIFICADO
      <li>NORMA
      <li>PARECER
      <li>PORTARIA
      <li>PORTARIA-EXTRACTO
      <li>PROCESSO
      <li>PROTOCOLO
      <li>RECOMENDAÇÃO
      <li>RECTIFICAÇÃO
      <li>REGIMENTO
      <li>REGULAMENTO
      <li>REGULAMENTO INTERNO
      <li>RELATÓRIO
      <li>RESOLUÇÃO
      <li>RESOLUÇÃO DA ASSEMBLEIA NACIONAL
    </ul>

  <h3>Exemplos</h3>

  <p>Procurar leis sobre os caminhos de ferro:

  <p><tt>"caminhos de ferro" tipo:lei</tt>

  <p>Procurar portarias de Maio de 1989:

  <p><tt>ano:1989 mês:5 tipo:portaria</tt>

  <hr>
  <h2>Notas</h2>

  <p>Os utilizadores registados podem criar notas para cada documento. Essas notas podem conter até vinte mil caracteres cada uma. Para além de texto simples podem ser formatadas utilizando a linguagem '<a href="http://daringfireball.net/projects/markdown/" target="_blank">markdown</a>'. Esta é uma linguagem extremamente simples. Por exemplo se quiser realçar com negrito uma dada palavra, apenas tem de envolver essa palavra em '**', a frase seguinte:

  <pre>
  Este é um **texto** de exemplo.</pre>

Ficaria:

  <p style="padding-left:2em;">Este é um <strong>texto</strong> de exemplo.</p>

  <p>Na tabela seguinte pode encontrar uma lista de opções de formatação para empregar com as notas:

  <table border=1 cellspacing=0 style="margin-right:auto;margin-left:auto;">
    <tr>
      <th>Se utilizar:</th>
      <th>Obtém:</th>
    </tr>
    <tr>
      <td>*Itálico*</td>
      <td><em>Itálico</em></td>
    </tr>
    <tr>
      <td>**Negrito**</td>
      <td><strong>Negrito</strong></td>
    </tr>
    <tr>
      <td>[Tretas](http://tretas.org/)</td>
      <td><a href="http://tretas.org/">Tretas</a></td>
    </tr>
    <tr>
      <td>* Item 1<br>* Item 2<br>* Item 3</td>
      <td><ul><li>Item 1<li>Item 2<li>Item 3</ul></td>
    </tr>
    <tr>
      <td>1. Item 1<br>1. Item 2<br>1. Item 3</td>
      <td><ol><li>Item 1<li>Item 2<li>Item 3</ol></td>
    </tr>
    <tr>
      <td>&gt; Citar texto</td>
      <td><blockquote style="border-left:solid 2px;padding-left:0.5em;margin-left:0;">Citar texto</blockquote></td>
    </tr>
    <tr>
      <td>████Texto 4 esp<br>████████Mais 4<br> </td>
      <td><pre style="border:none;margin:0;">Texto 4 esp
    Mais 4</pre></td>
    </tr>
  </table>

</div>
{% endblock %}
