{% extends "base.html" %}


{% block header %}
  <link rel="stylesheet" type="text/css" href="/static/css/settings.css">
{% endblock %}

{% block body_content %}
<div id="wrap">
  <div id="sidebar">
    <ul class="sidemenu">
      <li><a {% if request.path == '/auth/personal_data/' %}class="highlight" {% endif %}href="{% url 'personal_data' %}">Dados Pessoais</a></li>
      <li><a {% if request.path == '/auth/password_change/' %}class="highlight" {% endif %}href="{% url 'password_change' %}">Mudar Palavra-Passe</a></li>
      <li><a {% if request.path == '/tag/display/' %}class="highlight" {% endif %}href="{% url 'tag_display' %}">Etiquetas</a></li>
      <li><a {% if request.path == '/settings/' %}class="highlight" {% endif %}href="{% url 'settings_form' %}">Configurações</a></li>
  </div>
  <div id="content_column">
    {% block content_column %}{% endblock %}
  </div>
  <div style="clear:both;"></div>
</div>
{% endblock %}
