{% extends "base.html" %}

{% block title %}Sair{% endblock %}

{% block header %}
  <meta name="robots" content="noindex, nofollow">
  <meta name="keywords" content="procura,diplomas,documentos,diário da república">
  <meta name="description" content="Procura de diplomas no Diário da República Electrónico - página de logout">
  <meta property="og:title" content="Diários da República - Logout">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://dre.tretas.org">
  <meta property="og:image" content="http://dre.tretas.org{{ STATIC_URL }}img/esfera_armilar.png">
  <meta property="og:site_name" content="Diários da República - Versão do cidadão">
  <meta property="fb:admins" content="webmaster@tretas.org">
  <meta property="og:description" content="Procura de diplomas no Diário da República">
{% endblock %}

{% block body_content %}

<h1>Saiu do dre.tretas.org!</h1>

{% endblock %}
