{% extends "settings.html" %}

{% block title %}Mudar Palavra-Passe{% endblock %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="/static/css/settings.css">
{% endblock %}

{% block content_column %}
    <h1>Mudar Palavra-Passe</h1>
    <form method="post" action="{% url 'password_change' %}{% if next %}?next={{ next }}{% endif %}">{% csrf_token %}
      <table>
        {{ form }}
        <tr>
          <td colspan=2>
            <div class="center_text">
              <button style="width:12em" type="submit" value="Submit">Mudar Palavra-Passe</button>
            </div>
          </td>
        </tr>
      </table>
    </form>
{% endblock %}
