{% extends "base.html" %}

{% block title %}Recuperar Palavra-Passe{% endblock %}

{% block body_content %}
  {% if validlink %}
    <h1>Recuperar Palavra-Passe</h1>
    <div class="center_text">
      <p>Indique, por favor, a sua nova palavra-passe:</p>
      <form method="post">{% csrf_token %}
        <table>
          {{ form }}
          <tr>
            <td colspan=2>
              <div class="center_text">
                <button style="width:12em" type="submit" value="Submit">Mudar<br>Palavra-Passe</button>
              </div>
            </td>
          </tr>
        </table>
      </form>
    </div>
  {% else %}
    <h1>Ligação inválida</h1>
  {% endif %}
{% endblock %}
