{% extends "base.html" %}

{% block title %}Recuperar Palavra-Passe{% endblock %}

{% block body_content %}
    <h1>Recuperar Palavra-Passe</h1>
    <div class="center_text">
      <p>Para recuperar a sua palavra-passe indique por favor o endereço de 
      correio electrónico que usou para se registar no site:
      <form method="post" action="{% url 'password_reset' %}">{% csrf_token %}
        <table>
          {{ form }}
          <tr>
            <td colspan=2>
              <div class="center_text">
                <button style="width:12em" type="submit" value="Submit">Recuperar<br>Palavra-Passe</button>
              </div>
            </td>
          </tr>
        </table>
      </form>
    </div>
{% endblock %}
