{% extends "settings.html" %}

{% block title %}Dados pessoais{% endblock %}

{% block content_column %}
    <h1>Dados Pessoais</h1>
    <form method="post" action="{% url 'personal_data' %}{% if next %}?next={{ next }}{% endif %}">{% csrf_token %}
      <table>
        {{ form }}
        <tr>
          <td colspan=2>
            <div class="center_text">
              <button style="width:12em" type="submit" value="Submit">Salvar dados pessoais</button>
              {% if saved %}<p>Dados guardados.</p>{% endif %}
            </div>
          </td>
        </tr>
      </table>

    </form>
{% endblock %}
