/* Column layout */

#wrap {
  margin: -1em 0 0 -1em;
}

#sidebar {
  float: left;
  width: 15em;
  padding: 4em 0 0 0 ;
}

#content_column {
  margin-left: 16em;
  float: left;
  }

/* Menu */

ul.sidemenu {
  list-style: none;
}


ul.sidemenu li {
  display: block;
  background-color: whitesmoke;
  margin: 1em 1em 1em -2em;

  font-size: 15px;

  border: solid 1px; 
  border-radius: 0.3em;
  box-shadow: 0.1em 0.3em 0.2em;
}

ul.sidemenu a {
  display: block;
  text-decoration: none;
  height: 100%;
  padding: 0.5em;
  border-radius: 0.3em;
}

ul.sidemenu a:hover {
  background-color: orange;
  color: white;
}

ul.sidemenu a:active {
  background-color: #4060a2;
  color: white;
}

ul.sidemenu a:visited {
    color: #0000ee;
    }

a.highlight {
  background-color: #022263;
  color: white !important;
}

a.highlight:visited {
  background-color: #022263;
  color: white !important;
}
